# Edit @/lib/env file before adding new Secret

DATABASE_URL=""
DIRECT_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000" 

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

ADMIN_EMAIL=""

NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""

OMDB_API_KEY=""

OPENROUTER_API_KEY=""