@import "tailwindcss";
@plugin "./../lib/hero.ts";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@theme inline {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

.text-shadow {
  text-shadow:
    2px 3px 2px rgba(0, 0, 0, 0.3),
    4px 4px 8px rgba(0, 0, 0, 0.2);
}

.lite-youtube {
  height: auto;
  width: auto;
}

/*Custom Scroolbar*/
html {
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  width: 0.5rem;
  background: rgb(33, 37, 41);
}

html::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 5rem;
}

html::-webkit-scrollbar-thumb:hover {
  background: #0b4cd6;
}

.custom-scroolbar::-webkit-scrollbar {
  height: 0.3rem;
}

.custom-scroolbar::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 5rem;
}

.custom-scroolbar::-webkit-scrollbar-thumb:hover {
  background: #0b4cd6;
}
