@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.text-shadow {
  text-shadow:
    2px 3px 2px rgba(0, 0, 0, 0.3),
    4px 4px 8px rgba(0, 0, 0, 0.2);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-hex: "#222831";
  --darkest-hex: "#191e25";
}

/*Custom Scroolbar*/
html {
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  width: 0.5rem;
  background: rgb(33, 37, 41);
}

html::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 5rem;
}

html::-webkit-scrollbar-thumb:hover {
  background: #0b4cd6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #222831;
}

.swiper-slide {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #007bff 94%, #0000) top/16px 16px no-repeat,
    conic-gradient(#0000 30%, #007bff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  mask: auto;
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
